<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">


      <div class="row">
        <img class="col-lg-8 col-xs-12" src="https://image.flaticon.com/icons/svg/1165/1165942.svg" alt="">

      </div>
      <div class="row">
        <button class="btn btn-danger col-lg-4 col-xs-12" type="button" name="button" on-click="incrementar">Cargar datos</button>
        <input type="text" placeholder="[[prop3]]" name="" value="{{prop1::input}}"/>
      </div>
      <div class="row">
        <table class="table table-striped col-lg-12 col-xs-12">
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <tbody>
              <tr>
                <td>1</td>
                <td>[[prop1]]</td>
                <td>Mora</td>
              </tr>
              <tr>
                <td>[[prop2]]</td>
                <td>Luis</td>
                <td>Perez</td>
              </tr>
            </tbody>
          </thead>
        </table>
      </div>
        </div>
  <!--//  <h2>Hello [[prop1]]!</h2>
  //  <h3>Mi valor es [[prop2]]</h3> -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String
          },
          prop2: {
            type: Number,
            value: 999
          },
          prop3:{
            type: String,
            value: 'Indique su login'
          }
        };
      }
      incrementar(){
        this.prop2 = this.prop2 + 1;
        consola.log(this.prop1);
        consola.log(this.prop2);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
